#profHero {
    background-image: url('../../assets/professional hero image.jpg');
    background-position: center;
}

.prof-subh {
    margin-bottom: 10px;
}

.side-pic {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
}

@media only screen and (max-width: 768px) {
    #profHero {
        min-height: 70vh;
    }
}

@media only screen and (max-width: 425px) {
    #profHero {
        min-height: 50vh;
    }
}