#abtMe {
    margin-bottom: 0px;
}

#bio {
    gap: 15px;
}

#contactCard {
    background-color: #DED9E8;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #382f4c;
    gap: 20px;
}

#headshot {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: 70%;
}

#homeHero {
    background-image: url('../../assets/philly skyline bg gradient.webp');
    background-position: bottom center;
}

.btn-sec {
    gap: 20px;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    .btn-sec {
        gap: 10px;
    }

}

@media only screen and (max-width: 560px) {    
    .btn-sec {
        flex-direction: column;
    }

    #contactCard {
        width: 85%;
    }
}

@media only screen and (max-width: 425px) {
    #homeHero {
        background-image: url('../../assets/plain skyline bg gradient.webp');
    }

    #contactCard {
        width: 90%;
    }

}