#home {
    fill: #382f4c;
    color: #382f4c;
    border-color: #382f4c;
    font-size: 32px;
    transition: all 0.3s;
    margin-right: 25px;
}

#home:hover {
    fill: #2c4224;
    color: #2c4224;
    border-color: #2c4224;
    transform: scale(1.1);
}

#navInner {
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
    background-color: #ded9e8;
    padding: 25px 50px;
    box-shadow: 0px 2px 10px 0px #000000;
}

.navbar-nav li:not(:last-child) {
    margin-right: 35px;
}

.nav-item {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.nav-item:hover {
    color: #2c4224;
}

.nav-link {
    color: #382f4c;
    background-image: linear-gradient(#2C4224, #2C4224);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}
.nav-link:hover {
    color: #2c4224;
    background-size: 100% 0.1em;
}

@media only screen and (max-width: 768px) {
    .nav-item {
        font-size: 18px;
    }
}

@media only screen and (max-width: 425px) {
    .nav-item {
        font-size: 16px;
    }
}