#btnSec {
    gap: 20px;
    flex-direction: row;
}

#headshot {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: 70%;
}

#homeHero {
    background-image: url('../../assets/philly skyline bg.jpg');
    background-position: center bottom;
}

@media only screen and (max-width: 425px) {
    #btnSec {
        flex-direction: column;
    }

    #homeHero {
        background-image: url('../../assets/plain skyline bg.jpg');
    }

}