#btnSec {
    gap: 20px;
}

#headshot {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    width: 70%;
}

#logos {
    display: inline-block;
    vertical-align: middle;
    height: auto;
    max-width: 100%;
}

.img-sec {
    padding: 10px;
    width: 50%;
    text-align: center;
}

.hero-p {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    color: white;
}

.hero-txt-sec {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
}

.hero-sec {
    padding: 10px;
    background-color: #382f4c;
    background-image: url('../../assets/philly skyline bg.jpg');
    background-position: bottom center;
    background-size: cover;
    min-height: 80vh;
    width: 100%;
    margin: 0;
}

.page-sec {
    padding: 60px 20px;
    background-color: #CCC9A3;
}

.page-sec-inner {
    width: 100%;
    max-width: 1140px;
    gap: 0px;
    margin: 0 auto;
}

.text-sec {
    padding: 10px;
    width: 50%;
}