#perHero {
    background-image: url('../../assets/personal hero image.jpg');
    background-position: center;
}

#perSec {
    padding-bottom: 5px;
}

#perPgSec {
    padding-top: 0;
}

.icon-sec {
    gap: 20px;
    flex-wrap: wrap;
}

.stack-icon {
    font-size: 50px;
    text-align: center;
    fill: none;
    width: 1em;
    height: 1em;
    position: relative;
    display: block;
}


@media only screen and (max-width: 768px) {
    #perHero {
        min-height: 70vh;
    }
}

@media only screen and (max-width: 425px) {
    #perHero {
        min-height: 50vh;
    }
}