#home {
    fill: #FEFBEA;
    color: #FEFBEA;
    border-color: #FEFBEA;
    font-size: 32px;
    transition: all 0.3s;
    margin-right: 25px;
}

#home:hover, #home:active {
    fill: #ded9e8;
    color: #ded9e8;
    border-color: #ded9e8;
    transform: scale(1.1);
}

#navInner {
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
    background-color: #382f4c;
    padding: 25px 50px;
    box-shadow: 0px 2px 10px 0px #000000;
    justify-content: flex-start
}

.nav-item:not(:last-child) {
    margin-right: 35px;
}

.nav-item {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.nav-item:hover {
    color: #2c4224;
}

.nav-link {
    color: #fefbea;
    background-image: linear-gradient(#ded9e8, #ded9e8);
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 50%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: #ded9e8 !important;
    background-size: 100% 0.1em;
}
.navbar-nav .nav-link.active {
    color: #fefbea;
}

@media only screen and (max-width: 768px) {
    .nav {
        justify-content: space-between;
    }
    
    .nav-item {
        font-size: 18px;
    }
}

@media only screen and (max-width: 425px) {
    .nav-item {
        font-size: 16px;
    }
}