a {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #090d07;
}
a:hover {
	color: black;
	font-weight: 600;
}

h1 {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: white;
  	text-align: center;
}

h2 {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #382f4c;
}

h3 {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: black;
}

p {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: black;
	font-size: 20px;
	line-height: 1.5;
}

.bottom-sec {
	padding-bottom: 20px;
}

.btn {
	background-color: #2c4224;
	color: white;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 24px;
}

.btn:hover,
.btn:active {
	background-color: #090d07;
	color: white;
	transition: none;
	font-weight: 500;
}

.hero-p {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    color: white;
}

.hero-txt-sec {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
}

.hero-sec {
    padding: 10px;
    background-color: #382f4c;
    background-position: bottom center;
    background-size: cover;
    min-height: 80vh;
    width: 100%;
    margin: 0;
}

.img-sec {
    padding: 10px;
    width: 50%;
    text-align: center;
}

.page-content {
	height: 100vh;
}

.page-sec {
    padding: 60px 20px;
    background-color: #CCC9A3;
}

.page-sec-inner {
    width: 100%;
    max-width: 1140px;
    gap: 0px 15px;
    margin: 0 auto;
	flex-direction: row;
}

.text-sec {
    padding: 10px;
    width: 50%;
	flex-direction: column;
}

.top-sec {
	padding-top: 80px;
}

@media only screen and (max-width: 768px) {
	.img-sec {
		width: 85%;
		padding: 8px;
	}
	
	.page-sec {
		padding: 40px 20px;
	}

	.page-sec-inner {
		flex-direction: column;
		width: 100%;
	}

	.text-sec {
		align-items: center; 
		width: 85%;
		padding: 8px;
	}

	.top-sec {
		padding-top: 60px;
	}
	
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 22px;
	}

	p {
		font-size: 19px;
	}
}

@media only screen and (max-width: 425px) {
	.img-sec {
		width: 90%;
		padding: 5px;
	}
	
	.page-sec { 
		padding: 30px 15px;
	}

	.page-sec-inner {
		width: 100%;
	}

	.text-sec {
		width: 90%;
		padding: 5px;
	}

	.top-sec {
		padding-top: 50px;
	}
	
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 20px;
	}

	p {
		font-size: 18px;
	}
}
