a {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: #090d07;
}
a:hover {
	color: black;
	font-weight: 600;
}

h1 {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: white;
}

h2 {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #382f4c;
}

h3 {
  font-family: "Noto Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: black;
}

p {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: black;
	font-size: 20px;
	line-height: 1.5;
}

.btn {
	background-color: #2c4224;
	color: white;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding: 12px 24px;
}

.btn:hover,
.btn:active {
	background-color: #090d07;
}

.page-content {
	height: 100vh;
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}

  h3 {
    font-size: 22px;
  }

	p {
		font-size: 19px;
	}
}

@media only screen and (max-width: 425px) {
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 26px;
	}

  h3 {
    font-size: 20px;
  }

	p {
		font-size: 18px;
	}
}
