a {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #090d07;
}
a:hover {
	color: black;
	font-weight: 600;
}

h1 {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: #FEFBEA;
  	text-align: center;
	margin-bottom: 0;
}

h2 {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #382f4c;
	margin-bottom: 10px;
}

h3 {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 600;
	color: black;
	margin-bottom: 0;
	line-height: 1;
}

h4 {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: black;
	font-size: 20px;
	text-align: center;
	margin-bottom: 0;
}

p {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: black;
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 0;
}

.bottom-sec {
	padding-bottom: 20px;
}

.btn {
	background-color: #2c4224;
	color: white;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 24px;
	gap: 8px;
	justify-content: center;
}

.btn:hover,
.btn:active {
	background-color: #090d07;
	color: white;
	transition: none;
	font-weight: 500;
}

.card {
    background-color: #ded9e8;
    width: 49%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #382F4C;
}

.card-bottom {
    background-color: white;
    padding: 20px;
    gap: 15px;
    border-radius: 0 0 15px 15px;
}

.card-btn {
	background-color: #2c4224;
	color: white;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 500;
	padding: 12px 24px;
    text-align: center;
	text-decoration: none;
    border-radius: 3px;
}
.card-btn:hover,
.card-btn:active {
	background-color: #090d07;
	color: white;
	transition: none;
	font-weight: 500;
}

.card-full {
    border-radius: 0px;
    padding: 40px;
    gap: 20px;
    text-align: center;
}

.card-pic {
    vertical-align: middle;
    text-align: center;
    width: 90%;
}

.card-pic-2 {
    vertical-align: middle;
    text-align: center;
    width: 100%;
	border-radius: 15px 15px 0 0;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 9px;
	margin-bottom: 5px;
}

.card-sec {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    max-width: 1140px;
    padding: 20px 20px 0px 20px;
}

.card-top {
    border-radius: 0px;
    padding: 20px 20px 40px 20px;
    gap: 20px;
    text-align: center;
}

.card-txt {
    font-size: 16px;
}

.hero-p {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    color: #FEFBEA;
}

.hero-txt-sec {
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 10px;
}

.hero-sec {
    padding: 10px;
    background-color: #382f4c;
    background-position: bottom center;
    background-size: cover;
    min-height: 80vh;
    width: 100%;
    margin: 0;
}

.img-sec {
    padding: 10px;
    width: 50%;
    text-align: center;
}

.navbar-toggler {
	color: #fefbea;
	border: 1px solid #fefbea;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28254, 251, 234, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.page-content {
	height: 100vh;
}

.page-sec {
    padding: 60px 20px;
    background-color: #FEFBEA;
}

.page-sec-inner {
    width: 100%;
    max-width: 1140px;
    gap: 0px 15px;
    margin: 0 auto;
	flex-direction: row;
}

.text-sec {
    padding: 10px;
    width: 50%;
	flex-direction: column;
}

.top-sec {
	padding-top: 80px;
}

@media only screen and (max-width: 1080px) {
    .card {
        width: 47%;
    }

}

@media only screen and (max-width: 768px) {
	.img-sec {
		width: 85%;
		padding: 8px;
	}

	.card {
        width: 85%;
    }

    .card-sec {
        max-width: 100%;
    }
	
	.page-sec {
		padding: 40px 20px;
	}

	.page-sec-inner {
		flex-direction: column;
		width: 100%;
	}

	.text-sec {
		align-items: center; 
		width: 85%;
		padding: 8px;
	}

	.top-sec {
		padding-top: 60px;
	}
	
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 22px;
	}

	p {
		font-size: 19px;
	}
}

@media only screen and (max-width: 425px) {
	.card {
        width: 100%;
    }
	
	.img-sec {
		width: 90%;
		padding: 5px;
	}
	
	.page-sec { 
		padding: 30px 15px;
	}

	.page-sec-inner {
		width: 100%;
	}

	.text-sec {
		width: 90%;
		padding: 5px;
	}

	.top-sec {
		padding-top: 50px;
	}
	
	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 19px;
	}

	p {
		font-size: 18px;
	}
}
